.main{
    background: url(../../public/imgs/pexels-fauxels-3182774.jpg) center/cover no-repeat;
    /* background: url(../../public/pexels-divinetechygirl-1181263.jpg) center/cover no-repeat; */
    /* background: url(../../public/business-man-working-late.jpg) center/cover no-repeat; */
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
}

.main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* black overlay, 50% opacity */
  z-index: 0;
}
